@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(images/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div#celular {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div iframe#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 265px;
    height: 50%;

}