@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font1: "Open Sans", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font1);
    background-color: #0000F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("https://i.pinimg.com/originals/d8/e6/eb/d8e6eb6b345ada088e2448947c483ab4.gif");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    transform: scale(1.1);
}

main {
    width: 450px;
    background-color: #7b4d9265;
    height: 300px;
    
    position: relative;
}

#imagemUsuario {
    margin: auto;
    position: absolute;

    top: -60px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.651);
    background-image: url(images/user.png);

    background-size: 65px; 
    background-repeat: no-repeat;
    
    background-position: center; 
    
    width: 120px;
    height: 120px;
    
    border-radius: 50%; 
}

div#textFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

div.customField {
    display: flex;
    background-color: white;
    width: 320px;
    height: 45px;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 2px;
}

label img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    filter: opacity(45%)
}

label div.iconBox {
    display: flex;
    background-color: #ccc;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

input {
    background-color: #eee;
    margin-top: 0px;
    width: 265px;
    height: 45px;
    padding-left: 10px;

    font-family: "Open Sans";
    font-size: 1em;

    outline: none;
    border: none;
}

input[type="submit"] {
    width: 320px;
    height: 60px;
    margin-top: 5px;

    font-family: "Open Sans";
    letter-spacing: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
}

input[type="submit"]:hover {
    outline: 1px solid white;
}

div#rememberField {
    display: flex;
    align-items: center;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 5px;
}

div#rememberField input {
    margin: 0;
    width: 15px;
    height: 15px; 
    accent-color: #535369;
}

label#checkBox p {
    color: rgba(255, 255, 255, 0.534);
    margin: 0;
    font-size: 15px;
    padding-left: 5px;
    font-size: 15px;
}