@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font1: "Open Sans", sans-serif;
}

body {
    font-family: var(--font1);
    background-color: #0000F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/purplebg.png);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    transform: scale(1.1);
}

main {
    width: 450px;
    background-color: #7b4d9265;
    height: 300px;
    
    position: relative;
}

#imagemUsuario {
    margin: auto;
    position: absolute;

    top: -60px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.651);
    background-image: url(images/user.png);

    background-size: 65px; 
    background-repeat: no-repeat;
    
    background-position: center; 
    
    width: 120px;
    height: 120px;
    
    border-radius: 50%; 
}

div#textFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

div.customField {
    display: flex;
    background-color: white;
    width: 320px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 2px;
}

label img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    filter: opacity(45%)
}

label div.iconBox {
    display: flex;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

input {
    background-color: #eee;
    margin-top: 0px;
    width: 265px;
    height: 50px;
    padding-left: 10px;

    font-family: "Open Sans";
    font-size: 1em;

    outline: none;
    border: none;
}