@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0px;
    padding: 0px;

    background-color: rgb(243, 243, 243);
}

header {
    background-color: lightgray;
}

header h1 {
    display: block;
    padding: 5px;
    padding-top: 20px;
    margin: 0px;
    text-align: center;
}

button#menuButton {
    display: block;
    margin: auto;
    width: 250px;
    height: 40px;
    border: none;
    
    background-color: rgb(133, 130, 130);
    background-image: url(images/menu-hamburguer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button#menuButton:hover {
    background-color: rgb(173, 171, 171);
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

nav li {
    background-color: rgb(133, 130, 130);
    margin-left: 10px;
    width: 80px;
    height: 40px;
}

nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: white;
}

nav li:hover {
    background-color: rgb(173, 171, 171);
}

main {
    width: 900px;
    margin: auto;
    padding: 15px;

    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
    background-color: white;
}