@charset "UTF-8";

/* Media Queries (Mudando toda a estrutura do site para melhor responsividade em dispositivos diferentes. */

@media only screen and (max-width: 600px) {
    div.cardContainer {
        width: 400px;
        flex-direction: column;
    }

    section.bannerLateral {
        width: 400px;
        height: 20%;

        border-radius: 15px 15px 0px 0px;

        h1 {
            font-size: 1.5em;
            height: 100%;
            width: 100%;
            padding-top: 30px;
        }
        p {
            display: none;
        }
    }

    form#loginForm {
        width: 400px;
        height: 80%;

        header {
            
        }

        header h1 {
            font-size: 1.5em;
        }
    }

    div.campoTexto {
        width: 75%;
        height: 60px;

        transform: translateY(-25px);
    }

    div.campoTexto input {
        width: 75%;
    }
}

@media only screen and (min-width: 600px) {
    div.cardContainer {
        width: 400px;
    }

    form {
        width: 0px;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only print {
    body {
        display: none;
    }
}