@charset "UTF-8";

/* 1. Notebooks / Telas Médias (Menores que 1200px) */
@media only screen and (max-width: 1200px) {
    body {
        background-color: rgb(211, 223, 44);
    }    
    /* Aqui seu card ainda mantém comportamento desktop, mas encolhe um pouco */
    div.cardContainer {
        width: 650px; 
    }

}

/* 2. Tablets em Paisagem / Telas Pequenas (Menores que 992px) */
@media only screen and (max-width: 992px) {
    body {
        background-color: rgb(0, 128, 58);
    }    

    div.cardContainer {
        width: 550px;
    }

    div.campoTexto {
        width: 75%;
        height: 60px;
        transform: translateY(0px);
    }

    div.campoTexto input {
        width: 75%;
    }

}

/* 3. Tablets em Pé (Menores que 768px) */
@media only screen and (max-width: 768px) {
    body {
        background-color: rgb(128, 19, 0);
    }    
    div.cardContainer {
        width: 550px;
        height: 450px;
        flex-direction: column; /* Vira coluna no mobile */
        justify-content: center;
    }

    section.bannerLateral {
        width: 100%;
        height: 20%;
        border-radius: 15px 15px 0px 0px;

        h1 {
            font-size: 1.5em;
            height: 100%;
            width: 100%;
            padding-top: 30px;
        }
        p {
            display: none; /* Esconde parágrafo no mobile */
        }
    }

    form#loginForm {
        width: 100%;
        height: 80%;

        header h1 {
            font-size: 1.5em;
        }
    }

    div.campoTexto {
        width: 75%;
        height: 60px;
        transform: translateY(0px);
    }

    div.campoTexto input {
        width: 83%;
    }

    input#loginBtn {
        transform: translateY(20px);
    }
}

/* 4. Celulares (Menores que 600px) */
@media only screen and (max-width: 600px) {
    body {
        background-color: aqua;
    }
    div.cardContainer {
        width: 350px;
    }
    div.campoTexto input {
        width: 75%;
    }
}

/* Impressão */
@media only print {
    body {
        display: none;
    }
}