@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    transition: width 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
}

html {
    width: 100%;
    min-height: 100dvh;
}

body {
    background-color: rgb(90, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100dvh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.cardContainer {
    display: flex;
    width: 750px;
    height: 450px;

    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.329);
}

section.bannerLateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;

    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    
    border-radius: 15px 0px 0px 15px;
}

section.bannerLateral h1, p {
    color: white;
    text-align: center;
    padding-top: 20px;
    
    letter-spacing: 0.5px;
}

form#loginForm {
    display: flex;
    position: relative;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form#loginForm > header {
    width: 75%;
    position: absolute;
    top: 10%;
    color: #9a4adb;
}

form#loginForm header h1 {
    width: 100%;
    text-align: left;
    font-size: 1.7em;
}

div.campoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 70px;

    padding-top: 25px;
}

label, div.inputField {
    width: 100%;
    height: 100%;
}

div.inputField {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    border: 2px solid #9a4adb;

    border-radius: 20px;
}

div.inputField span {
    width: 40px;
    height: 50px;
    font-size: 2em;

    margin-left: 0px;
    text-align: center;
    line-height: 50px;
    color: #9a4adb
}

div.inputField input {
    width: 80%;
    height: 40px;

    border: 1.5px solid #9a4adb;
    border-radius: 10px;
    padding-left: 10px;

    transition: outline 0.2s; 
}

div.inputField input:focus {
    outline: 1.5px solid #9a4adb;
    border-color: #9a4adb;
}

input#loginBtn {
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    transform: translateY(20px);

    font-size: 1em;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(-240deg, #8B5DE8, #BB99FF);
    transition: border 0.1s ease-in-out, color 0.1s ease-in-out;
}

a#forgotPassword {
    display: none;
    transform: translateY(15px);
    text-decoration: none;
    font-size: 0.8em;
    color: #999;
}

a#forgotPassword:hover {
    text-decoration: underline;
}

a#forgotPassword:visited {

}

input#loginBtn:hover {
     border: 2px solid #8B5DE8;
     color: #8B5DE8;
     background: transparent;
}

