@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font1: "Open Sans", sans-serif;
}
body {
    font-family: var(--font1);
    background-color: #0000F2;
    padding-top: 20vh;

    background-image: url(images/skyblue.jpg);
    background-size: cover;
}

div#container {
    width: 550px;
    margin: auto;
    background-color: #eee;
    color: white;
    text-align: center;
    height: 500px;
    border-radius: 10px;
    position: relative;
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    outline: 2px solid #eee;
    outline-offset: 4px;
}

div#topBar {
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;

    top: 0px;
}

div#topBar h1 {
    padding-top: 15px;
    color: #0000F2;
}

div#bottomBar {
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;

    position: absolute;
    bottom: 0px;
}

div#loginUsuario{
    width: 100%;
    text-align: center;
}

div#loginUsuario h2 {
    display: block;
    font-size: 4em;
}

label.loginLabel input {
    border: 2px solid #bbb;
    border-radius: 5px;
    display: block;
    outline: none;
    margin: auto;
    padding-left: 10px;

    width: 450px;
    height: 35px;

    transition: border-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

label.loginLabel input:focus {
    border-color: #0000F2;
    box-shadow: 0 0 0 1px #0000F2; 
    
    transform: scale(1.005);
}

label.loginLabel p {
    color: #0000F2;
    text-align: left;
    font-weight: 600;
    margin: auto;

    width: 465px;
    height: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
}

label input#submit {
    width: 300px;
    height: 40px;

    display: block;
    margin: auto;
    margin-top: 75px;

    color: #eee;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1em;

    border-radius: 25px;
    background-color: #0000F2;
    border: none;

    transition: background-color 0.15s ease, color 0.15s ease, border 0.15s ease;
}

label input#submit:hover {
    background-color: #fff;
    color: #0000F2;
    border: 2px solid #0000F2;
}

a#forgotpassword {
    display: block;
    padding-top: 15px;

    font-size: 0.9em;
    color: #999;
    text-decoration: none;
    font-family: "Open Sans";
}

a#forgotpassword:hover {
    color: #777;
    text-decoration: underline;

    font-family: "Open Sans";
}

div#botoesSociais {
    display: block;
    width: 100%;
    position: absolute;
    top: 55.5%;
}

a.botaoSocial {
    padding: 3px;
}

a.botaoSocial img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    
    border: 2px solid #bbb;
}